.vscode/*
!.vscode/extensions.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Tar files in offline cache
offline-cache/**/*.tar
offline-cache/**/*.tar.gz
offline-cache/**/*.tgz
